<div class="container" id="adminDashBoard">
    <div class="dashboard-group">
        <h3 style="font-family: system-ui;color:black">Thống kê số liệu</h3>
        <div class="dashboard productTotal">
            <div class="dashboard-display">
                <div class="dashboard-content">
                    <span class="dasboard-value">3</span>
                    <p>Tài khoản chờ kích hoạt</p>
                </div>
                <img src="/images/pending.png" alt="">
            </div>
            <a class="dashboard-link" href="/admin/pending">Xem thêm</a>
        </div>
        <div class="dashboard accountTotal">
            <div class="dashboard-display">
                <div class="dashboard-content">
                    <span class="dasboard-value">3</span>
                    <p>Thành viên</p>
                </div>
                <img src="/images/activated.png" alt="">
            </div>

            <a class="dashboard-link">Xem thêm</a>
        </div>
        <div class="dashboard ordersTotal">
            <div class="dashboard-display">
                <div class="dashboard-content">
                    <span class="dasboard-value">3</span>
                    <p>Yêu cầu rút tiền chờ duyệt</p>
                </div>
                <img src="/images/withdraw.png" alt="">
            </div>

            <a class="dashboard-link">Xem thêm</a>
        </div>
    </div>

</div>